@CHARSET "ISO-8859-1";
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.box {
  font: 12px sans-serif;
}

.box line,
.box rect,
.box circle {
  fill: steelblue;
  stroke: #000;
  stroke-width: 1px;
}

.box .center {
  stroke-dasharray: 3,3;
}

.box .outlier {
  fill: none;
  stroke: #000;
  stroke-width: 1px;
}

.axis text {
  font: 12px sans-serif;
}
 
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
 
.x.axis path { 
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.boxtooltip{
	position: absolute;
	width: auto;
	height: auto;
	padding: 5px;
	background-color: white; 
	pointer-events: none;
	-webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
.boxtooltip.hidden	{
	display:none;
}
.boxtooltip p	{
	margin: 2px;
	font-family: sans-serif;
	font-size: 16px;
	line-height: 18px;
}
.boxtooltip strong	{
	font-size: 15px;
}
.boxtooltip span	{
	font-size: 15px;
	font-weight: bold;
}